<form action="/task/add" method="post">
<div>
    <label for="title">Write a title:</label>
    <input type="text" id="title" name="title" placeholder="title">
</div>
<div>
    <label for="description">Description:</label>
    <textarea name="description" placeholder="Description" id="description"></textarea>
</div>
<button>Add</button>
</form>